In [4]:
import pandas as pd

# Load the CO2 dataset
co2_url = "https://gml.noaa.gov/webdata/ccgg/trends/co2/co2_mm_mlo.csv"
co2_df = pd.read_csv(co2_url, comment='#', header=1, 
                     names=['Year', 'Month', 'DecimalDate', 'MonthlyAverage', 
                            'Deseasonalized', 'DaysInMonth', 'StdDev', 'Uncertainty'])

In [5]:
co2_df.head()

,Year,Month,DecimalDate,MonthlyAverage,Deseasonalized,DaysInMonth,StdDev,Uncertainty
0,1958,4,1958.2877,317.45,315.16,-1,-9.99,-0.99
1,1958,5,1958.3699,317.51,314.69,-1,-9.99,-0.99
2,1958,6,1958.4548,317.27,315.15,-1,-9.99,-0.99
3,1958,7,1958.5370,315.87,315.20,-1,-9.99,-0.99
4,1958,8,1958.6219,314.93,316.21,-1,-9.99,-0.99

In [6]:

# Convert Year and Month to datetime
co2_df['Date'] = pd.to_datetime(co2_df['Year'].astype(str) + '-' + co2_df['Month'].astype(str) + '-01')

# Select only the Date and MonthlyAverage columns
co2_df = co2_df[['Date', 'MonthlyAverage']].rename(columns={'MonthlyAverage': 'CO2Concentration'})

# Sort by date and reset index
co2_df = co2_df.sort_values('Date').reset_index(drop=True)

# Save to CSV
co2_df.to_csv('monthly_co2_concentration.csv', index=False)

print(co2_df.head())

        Date  CO2Concentration
0 1958-04-01            317.45
1 1958-05-01            317.51
2 1958-06-01            317.27
3 1958-07-01            315.87
4 1958-08-01            314.93